body{
  background-color: lightgrey;
}

nav a{
  margin-left: 20px;
}
nav img{
  margin-left: 50px;
}

.blunt{
  margin-left: 420px;
}
div.background{
  background: url(../foto/AK.png);
  border: 1px solid lightgrey;
  height: 500px;
  width: 100%;
}
div.text{
  margin: 160px;
  margin-left: 35%;
  background-color: black;
  color: white;
  opacity: 0.6;
  height: 100px;
  width: 300px;
  padding-left: 100px;
  padding-right: 0;
  padding-top: 50px;
}
